services:
  sqlserver:
    image: mcr.microsoft.com/azure-sql-edge
    container_name: edumanager-sqlserver
    cap_add:
      - SYS_PTRACE
    environment:
      - ACCEPT_EULA=1
      - MSSQL_SA_PASSWORD=EduManager@2025
    ports:
      - "1433:1433"
    volumes:
      - sqlserver_data:/var/opt/mssql
    restart: unless-stopped

volumes:
  sqlserver_data:
    driver: local
